#value-display {
	font-size:12px;font-family:"VeraMono";color:black;
	position:fixed;bottom:15px;left: 50%;width: auto;transform: translateX(-50%);background:#fffa;
	font-weight:bold;padding:4px 8px;border-radius:5px;display:none;
	z-index:60000;
}
#value-display .input {display:inline-block;}
#value-display .output {display:inline-block;}


#ui-1 {
	font-size:12px;font-family:"VeraMono";color:white;
	background:#fffa;border-radius:0 0 0 4px;
	position:fixed;top:0;right:0;z-index:50000;
	user-select:none;overflow-y:auto;max-height:100%;
}
#ui-1 button {border:1px solid black;background:white;min-width:32px;height:22px;pointer-events:auto;outline:none;border-radius:4px;}
#ui-1 button:hover {cursor:pointer;}
#ui-1 button:active {background:black !important; color:white;}
#ui-1 input[type="text"]{
	border:1px solid black;background:white;height:22px;box-sizing:border-box;font-size:12px;color:black;outline:none;
	font-family:"VeraMono";padding:0 2px;border-radius:4px;
}
#ui-1 input[type="text"].expression-input {text-align:left;}


#ui-1 .category {padding-bottom:2px;}
#ui-1 .title {background:black;color:white;padding:5px;margin-bottom:2px;font-weight:bold;}
#ui-1 .row {padding:2px 5px;box-sizing:border-box;font-size:0;height:26px;}
#ui-1 .row .label {width:76px;display:inline-block;color:black;font-size:12px;}
#ui-1 .input-row-1 button,
#ui-1 .input-row-1 input {width:114px;}
#ui-1 .input-row-2 button,
#ui-1 .input-row-2 input {width:55px;text-align:center;}
#ui-1 .input-row-2-nolabel button {width:93px;}
#ui-1 .input-row-2-nolabel .input-1 {margin-right:4px;}
#ui-1 .input-row-2 .input-1 {margin-right:4px;}
#ui-1 .input-row-3 button,
#ui-1 .input-row-3 input {width:60px;margin-right:5px;text-align:center;}
#ui-1 .input-row-3 .input-3 {margin-right:0;}
#ui-1 .expression-row input {width:100%;}
#ui-1 .plotit-row button {width:100%;}
#ui-1 .line-width {text-align:center;}

#ui-1 .plot-row .label {display:line-block;width:34px;}
#ui-1 .plot-row input {width:156px;}

#ui-1 .range-row {position:relative;}
#ui-1 .range-row .label {position:absolute;top:6px;}
#ui-1 .range-row input[type="range"] {position:absolute;left:82px;width:108px;}

#ui-1 .toggle-button.active {opacity:1;}
#ui-1 .toggle-button:not(.active) {opacity:0.5;}

#ui-1 .maximize {display:none}
#ui-1 .minimize, 
#ui-1 .maximize {
	position:absolute;right:0;top:0;z-index:50005;color:white;font-family:"VeraMono";font-size:16px;
	height:25px;width:25px;text-align:center;font-weight:bold;line-height:23px;
}
#ui-1 .minimize:hover, 
#ui-1 .maximize:hover {
	cursor:pointer;
}
#ui-1 .maximize {
	position:fixed;height:25px;border-radius:0 0 0 4px;color:black;background:#ffa;
}

#ui-1 .description {
	padding:5px;padding-top:2px;color:black;padding-bottom:5px;
}
